<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Amphi A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="backdrop">
    <img src="../../assets/amphiA.jpg">
  </div>
  <div class="backdrop-separator1"></div>
  <div class="backdrop-separator2"></div>

  <div class="poster">
    <img class="poster" src="../../assets/amphiA.jpg">
    <img class="poster-effect" src="../../assets/amphiA.jpg">
  </div>

  <div class="room-data">
    <div class="name">Amphithéâtre A</div>
    <div class="date">23/09/2021</div>
    <hr>
    <ion-button expand="block" color="warning">Activer les alertes</ion-button>

    <div class="rate" style="margin: 6%;">
      <div>Dernier taux de C02 relevé : </div>
      <div style="text-align: center;">
        <ion-chip class="chipRate">
          <ion-label style="font-size: small;"> 646 ppm : 23/09/2021 - 08:39
          </ion-label>
        </ion-chip>
        <ion-chip class="chipPeopleCount">
          <ion-label style="font-size: small;"> 12 personnes
          </ion-label>
        </ion-chip>
      </div>
      <br>
      <img style="width: 400px; height: 300px; object-fit: cover;" src="../../assets/graph.png">
    </div>
  </div>



</ion-content>
