.toolbar-ios ion-title {
    padding: 0 70px 1px;
  }
  .backdrop {
    margin: -20px;
    position: relative;
    height: 300px;
    overflow: hidden;
    background: #ddd;
    img {
      opacity: 1;
      width: 100%;
      height: 300px;
      object-fit: cover;
      transform: scale(1.5);
      position: absolute;
    }
  }
  .backdrop-separator1 {
    width: 0;
    height: 0;
    z-index: 9999;
    position: absolute;
    left: 0;
    margin-top: calc(-120px + 20px + 1px);
    border-top: 120px solid transparent;
    border-left: 100vw solid white;
  }
  .backdrop-separator2 {
    width: 0;
    height: 0;
    z-index: 9998;
    position: absolute;
    left: 0;
    margin-top: calc(-240px + 20px + 1px);
    border-top: 240px solid transparent;
    border-left: 100vw solid rgba(255, 255, 255, 0.4);
  }
  div.poster {
    position: absolute;
    z-index: 99999;
    margin-top: -200px;
    left: 0px;
    margin-left: calc(50% - (170px / 2));
    width: 170px;
    height: 230px;
    background: #eee;
    border-radius: 6px;
    img.poster, img.poster-effect {
      width: 170px;
      height: 230px;
      object-fit: cover;
      border-radius: 6px;
      position: relative;
      z-index: 9999;
      border: 3px solid rgba(255, 255, 255, 1);
      -webkit-transform: translateZ(0);
      -webkit-perspective: 1000;
      -webkit-backface-visibility: hidden;
      &.poster-effect {
        z-index: 999;
        margin-top: -225px;
        opacity: 0.4;
        filter: blur(4px);
        transform: scale(0.9) translateZ(0);
      }
    }
  }
  .room-data {
    margin-top: 50px;
    .name {
      text-align: center;
      font-weight: 800;
      letter-spacing: -0.03em;
      font-size: 32px;
      line-height: 32px;
      padding: 5px 0 15px 0;
    }
    .date {
      color: rgb(0, 0, 0);
      font-size: 20px;
      text-align: center;
    }
    .overview {
      margin-top: 10px;
      margin: 6%;
      font-size: 18px;
      color: rgb(17, 16, 16);
      font-weight: 150;
    }

  }
  
  hr {
    background: black;
    width: 85%;
}
