<ion-header *ngIf="roomData">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{roomData.room.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div class="backdrop" *ngIf="roomData">
    <img [src]="roomData.room.url_img" />
  </div>
  <div class="backdrop-separator1"></div>
  <div class="backdrop-separator2"></div>

  <div class="poster"  *ngIf="roomData">
    <img class="poster" [src]="roomData.room.url_img" />
    <img class="poster-effect" [src]="roomData.room.url_img" />
  </div>

  <div class="room-data">
    <div class="name" *ngIf="roomData">{{roomData.room.name}}</div>
    <div class="date" *ngIf="roomData">{{date | date: 'dd/MM/YYYY':'GMT'}}</div>
    <div style="text-align: center;">
      <ion-chip class="alertStatus" color="danger">
        <ion-label style="font-size: small"> Alertes désactivées </ion-label>
      </ion-chip>
    </div>

    <hr />
    <ion-button style="margin: 6%" expand="block" color="warning">Activer les alertes</ion-button>

    <div class="rate" style="margin: 6%">
      <div class="date">Derniers relevés :</div>
      <div style="text-align: center" *ngIf="roomData">
        <ion-chip color="success" style="font-size: small" class="chipRate" *ngIf="roomData.last_value_co2">
          <ion-icon name="speedometer-outline"></ion-icon>
          <ion-label style="font-size: small">
            {{roomData.last_value_co2}} ppm : 29/09/21 - 14:34 <!-- {{roomData.room.sensors[0].values[0].timestamp*1000 | date: 'dd/MM/YYYY':'GMT+2'}} - {{roomData.room.sensors[0].values[0].timestamp*1000 | date: 'H:mm':'GMT+2'}} -->
          </ion-label>
        </ion-chip>
        <ion-chip color="primary" style="font-size: small" class="chipPeopleCount" *ngIf="roomData.last_value_webcam">
          <ion-icon name="speedometer-outline"></ion-icon>
          <ion-label style="font-size: small"> {{roomData.last_value_webcam}} personnes </ion-label>
        </ion-chip>
      </div>
      <br />
        <div>
          <canvas #myCanvas width="300" height="300"></canvas>
        </div>
      <ion-button expand="block" color="primary" (click)="presentModal()">Historique des mesures</ion-button>
    </div>
    <hr>
    <div class="devices">
      <div class="date">Matériel de la salle : </div>
      <ion-grid style="text-align: center;" *ngIf="roomData">
        <ion-row>
          <ion-col>
            <div>Capteurs</div>
            <ion-chip color="secondary" *ngFor="let sensor of roomData.room.sensors; let i = index">
              <ion-icon name="videocam"></ion-icon>
              <ion-label style="font-size: small">{{sensor.ip}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <div>Caméras</div>
            <ion-chip color="secondary" *ngFor="let webcam of roomData.room.webcams; let i = index">
              <ion-icon name="videocam"></ion-icon>
              <ion-label style="font-size: small">{{webcam.ip}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
