<ion-header>
  <ion-toolbar>
    <ion-title>
     Evasion
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModalAdd()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-spinner class="loader" *ngIf="!isLoaded" name="crescent"></ion-spinner>
  <ion-list *ngIf="isLoaded">
    <ion-list-header style="text-align: center;">
      Liste des portillons
    </ion-list-header>
    <br>

    <ion-item-sliding *ngFor="let portillon of tablePortillons; let i = index">
      <ion-item (click)="portillonDetail(portillon.id)">
        <ion-label>{{portillon.nom}}</ion-label>
          <ion-text slot="end" *ngIf="portillon.status == 0">Fermé</ion-text>
          <ion-icon slot="end" *ngIf="portillon.status == 0" color="danger" name="radio-button-on-outline"></ion-icon>
          <ion-text slot="end" *ngIf="portillon.status == 1">Ouvert</ion-text>
          <ion-icon slot="end" *ngIf="portillon.status == 1" color="success" name="radio-button-on-outline"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlertDelete(portillon.id)"> Supprimer</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
