<ion-header>
  <ion-toolbar>
    <ion-title>
      CO2 Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="full" *ngFor="let room of tableRooms; let i = index">
    <ion-card (click)="roomDetail(room._id)">
      <img style="width: 400px; height: 300px; object-fit: cover;" [src]="room.url_img" />
      <ion-item lines="none">
        <ion-label style="text-align: center;">{{ room.name }}</ion-label>
      </ion-item>
    </ion-card>
  </ion-item>

</ion-content>
