<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="white" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="portillonData">{{portillonData.nom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-spinner *ngIf="!isLoaded" class="loader" name="crescent"></ion-spinner>
  <div *ngIf="isLoaded">
    <div class="portillon-data">
      <div class="name" *ngIf="portillonData">Portillon 1</div>
      <div class="titre">Statut :</div>
      <div style="text-align: center" *ngIf="portillonData">
        <ion-chip *ngIf="portillonData.status == 0" color="danger" style="font-size: small" class="statusChip">
          <ion-label *ngIf="portillonData.status == 0" style="font-size: small"> Fermé </ion-label>
        </ion-chip>
        <ion-chip *ngIf="portillonData.status == 1" color="success" style="font-size: small" class="statusChip">
          <ion-label *ngIf="portillonData.status == 1" style="font-size: small"> Ouvert </ion-label>
        </ion-chip>
      </div>

      <hr />

      <ion-list>

          <ion-item>
            <ion-label>Notifications push</ion-label>
            <ion-button *ngIf="!notifActivated" color="success" size="small" (click)="registerDevice()"> Activer</ion-button>
            <ion-button *ngIf="notifActivated" color="danger" size="small" (click)="presentAlertConfirmUnregister()"> Désactiver</ion-button>
          </ion-item>
    
      </ion-list>
    </div>
    <br />
    <br />
    <ion-button expand="block" color="primary" (click)="presentModal()"
      >Historique complet des évenements</ion-button
    >
  </div>
</ion-content>
