<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="portillonData">{{portillonData.nom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-spinner *ngIf="!isLoaded" class="loader" name="crescent"></ion-spinner>
  <div *ngIf="isLoaded">
    <div class="portillon-data">
      <div class="name" *ngIf="portillonData">Portillon 1</div>
      <div class="titre">Statut :</div>
      <div style="text-align: center" *ngIf="portillonData">
        <ion-chip *ngIf="portillonData.status == 0" color="danger" style="font-size: small" class="statusChip">
          <ion-label *ngIf="portillonData.status == 0" style="font-size: small"> Fermé </ion-label>
        </ion-chip>
        <ion-chip *ngIf="portillonData.status == 1" color="success" style="font-size: small" class="statusChip">
          <ion-label *ngIf="portillonData.status == 1" style="font-size: small"> Ouvert </ion-label>
        </ion-chip>
      </div>

      <hr />

      <ion-list>

          <ion-item>
            <ion-label>Notifications push</ion-label>
            <ion-button *ngIf="!notifActivated" color="success" size="small"> Activer</ion-button>
            <ion-button *ngIf="notifActivated" color="danger" size="small"> Désactiver</ion-button>
          </ion-item>
      
          <ion-item>
            <ion-label>Notifications mails</ion-label>
            <ion-button *ngIf="notifActivated" color="success" size="small"> Activer</ion-button>
            <ion-button *ngIf="!notifActivated" color="danger" size="small"> Désactiver</ion-button>
          </ion-item>
    
      </ion-list>
    </div>
    <br />
    <div class="titre">Derniers évenements : 
      <br>
      <ion-list>

        <ion-item>
          <ion-text>Ouverture de porte le 21/11/21 à 14:34</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Ouverture de porte le 21/11/21 à 14:34</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Ouverture de porte le 21/11/21 à 14:34</ion-text>
        </ion-item>
    </ion-list>
    </div>

    <ion-button expand="full" color="primary" (click)="presentModal()"
      >Historique complet des évenements</ion-button
    >
  </div>
</ion-content>
